{% extends "base.html" %}
{% block content %}

	<div id="home" data-role="page" data-theme="b">
		<h1>DHS Canteen</h1>
		<a href="#stalls" data-role="button">Browse</a>
	</div>

	<div id="stalls" data-role="page">
    <div data-role="header" data-theme="b">
        <a href="" data-rel="back" data-icon="arrow-l" data-iconpos="notext" data-shadow="false" data-icon-shadow="false">Back</a>
		<a href="?logout&hl=en&hlor" data-role="button">{{ url_linktext }}</a>
        <h1>Stalls</h1>
    </div><!-- /header -->
    <div data-role="content">
        <ul data-role="listview">
            <li><a href="#food" class="stalls" id="stall1"><img src="#" alt=""><h2>Stall 1</h2><p>Dessert</p></a></li>
            <li><a href="#food" class="stalls" id="stall2"><img src="#" alt=""><h2>Stall 2</h2><p>Thai Food</p></a></li>
            <li><a href="#food" class="stalls" id="stall3"><img src="#" alt=""><h2>Stall 3</h2><p>Snacks</p></a></li>
			<li><a href="#food" class="stalls" id="stall4"><img src="#" alt=""><h2>Stall 4</h2><p>Mixed Chinese Rice</p></a></li>
            <li><a href="#food" class="stalls" id="stall5"><img src="#" alt=""><h2>Stall 5</h2><p>Japanese Food</p></a></li>
            <li><a href="#food" class="stalls" id="stall6"><img src="#" alt=""><h2>Stall 6</h2><p>Noodle Soup</p></a></li>
			<li><a href="#food" class="stalls" id="stall7"><img src="#" alt=""><h2>Stall 7</h2><p>Chicken Rice</p></a></li>
            <li><a href="#food" class="stalls" id="stall8"><img src="#" alt=""><h2>Stall 8</h2><p>Fried Noodle</p></a></li>
            <li><a href="#food" class="stalls" id="stall9"><img src="#" alt=""><h2>Stall 9</h2><p>Korean Food</p></a></li>
			<li><a href="#food" class="stalls" id="stall10"><img src="#" alt=""><h2>Stall 10</h2><p>Vegetarian Food</p></a></li>
            <li><a href="#food" class="stalls" id="stall11"><img src="#" alt=""><h2>Stall 11</h2><p>Yong Tau Foo</p></a></li>
            <li><a href="#food" class="stalls" id="stall12"><img src="#" alt=""><h2>Stall 12</h2><p>Western Food</p></a></li>
			<li><a href="#food" class="stalls" id="stall13"><img src="#" alt=""><h2>Stall 13</h2><p>Mixed Chinese Rice</p></a></li>
            <li><a href="#food" class="stalls" id="stall14"><img src="#" alt=""><h2>Stall 14</h2><p>Drinks</p></a></li>
            <li><a href="#food" class="stalls" id="stall15"><img src="#" alt=""><h2>Stall 15</h2><p>Malay Food</p></a></li>
			<li><a href="#food" class="stalls" id="stall16"><img src="#" alt=""><h2>Stall 16</h2><p>Drinks</p></a></li>
		</ul>
    </div><!-- /content -->
	</div>

	<div id="food" data-role="page">
	  <div data-role="header" data-theme="b">
	    <a href="" data-rel="back" data-icon="arrow-l" data-iconpos="notext" data-shadow="false" data-icon-shadow="false">Back</a>
	    <a href="/newfood" data-ajax="false" data-icon="plus" data-iconpos="notext">Add</a>
		<h1>Stall 16</h1>
		<h3>Drinks</h3>
	  </div>
	  <ul data-role="listview">
		{% for item in food %}
		  <li>{{ food.name }}</li>
		  	<div id="reviews" data-role="page">
			{% for review in reviews %}
			{% if review.author %}
				{{ review.author }} wrote:
			{% else %}
				An anonymous person wrote:
			{% endif %}
			<blockquote>{{ review.content|escape }}</blockquote>
			{% endfor %}
			</div>
		{% endfor %}
	  </ul>
	</div>
	{% block forms %}{% endblock %}
{% endblock %}